* {
    font-family: 'Noto Sans KR';
}

body {
    margin: 0;
    padding: 0;
}

.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.header h1 {
    font-size: 40px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #666;
    color: white;
}

.row {
    background-color: #eee;
}

.row:after {
    content: '';
    display: block;
    clear: both;
    float: none;
}

.side {
    float: left;
    width: 30%;
}

.main {
    float: left;
    width: 70%;
    background-color: white;     
}

.container {
    padding: 20px;
}

.container:last-child {
    border-left: 1px solid #d5d5d5;
}

.fakeimg {
    background-color: #aaa;
    width: auto;
    padding: 20px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    width: auto;
}

#gallery {
    margin: 0;
    padding: 0;
}

/* 목록정의 각 항목 사이의 구분선
--------------------------------------- */
#gallery li {
    border-bottom: 1px dotted #ccc;
    list-style: none;
}

#gallery li:last-child {
    border-bottom: 0;
}

/* 링크 영역 크기 확장 및 글자 처리
--------------------------------------- */
#gallery li a {
    display: block;
    width: auto;
    padding: 5px;
    color: #222;
    text-decoration: none;

    /** 텍스트를 감싸는 블록의 부모 요소에게 position 부여 */
    position: relative;
}

/* 이미지가 들어 있는 <span> 및 이미지 크기 처리
--------------------------------------- */
#gallery li a .thumb {
    width: 80px;
    height: 80px;
    display: block;
}

#gallery .thumb img {
    width: 100%;
    height: 100%;
}

/* 텍스트를 감싸는 블록
--------------------------------------- */
#gallery .text {
    display: block;
    width: auto;
    position: absolute;
    left: 100px;
    top: 27px;
}

/* 텍스트 블록 안의 제목과 내용 공통
--------------------------------------- */
#gallery .text span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 제목 + 내용
--------------------------------------- */
#gallery .text .title {
    font-weight: bold;
}

#gallery .text .desc {
    font-size: 0.8em;
    line-height: 150%;
}