@import './colors.scss';
@import './common.scss';

.my-scss {
    margin: auto;       // .my-scss라는 클래스에 대한 css 속성
    border: 5px dotted #d5d5d5;
    padding: 5px;

    &:after {           // .my-scss:after
        display: block;
        content: '';
        clear: both;
        float: none;
    }

    .my-scss-box {      // .my-scss .my-scss-box
        cursor: pointer;
        float: left;

        // .red 클래스가 .my-scss-box와 함께 사용되었을 때
        // -> .my-scss .my-scss-box.red
        &.red       { background-color: $red;           @include myMixin(1); }
        &.green       { background-color: $green;       @include myMixin(2); }
        &.blue       { background-color: $blue;         @include myMixin(3); }
        &.orange       { background-color: $orange;     @include myMixin(4); }
        &.yellow       { background-color: $yellow;     @include myMixin(5); }
        &.pink       { background-color: $pink;         @include myMixin(6); }
    }
}