#container {
    width: 100%;
    height: 100%;
}

#container header {
    width: 100%;
    height: 75px;
}

#container img {
    width: 230px;
    height: auto;
    position: relative;
    top: 8px;
    left: 30px;
}

#container a {
    text-decoration: none;
}

#container span {
    color: black;
    position: relative;
    line-height: 75px;
    left: 110px;
    font-size: 17px;
    font-weight: 600;
    margin-right: 40px;
}

#container a #language {
    width: 185px;
    position: relative;
    bottom: 75px;
    left: 1560px;
}

#container a #language span {
    position: relative;
    left: 10px;
    margin-right: 25px;
    font-weight: 400;
}

#content {
    width: 100%;
    height: 860px;
    background-color: gray;
}

#content #main_back {
    background-color: beige;
    width: 100%;
    height: 600px;
}

#content #main_back #main {
    width: 1450px;
    height: 600px;
    background: url(/Ezen_fullstack/04_VanillaJS/26__삼성디스플레이_클론코딩/assets/img/main1.jpg) no-repeat;
    background-size: contain;
    position: relative;
    left: 303px;
}
