@charset "utf-8";

/* 전체 공통내용 */
* {
    font-family: "나눔고딕", "맑은고딕", "굴림", "Helvetica";
}

a {
    color: #222222;
    text-decoration: none;
}

hr {
    display: none;
}

/* 하단 공통 영역 구성 */
#footer {
    width: 318px;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
    position: relative;
}

/* 하단 공통 카피라이트 영역 */
#footer address {
    width: auto;
    height: 59px;
    background: url(../img/bottom_bg.png) center center no-repeat;
    text-indent: -10000px;
}

/* 센터 소개 버튼의 위치 설정 */
#footer span {
    position: absolute;
    left: 12px;
    top: 20px;
}

/* SNS 버튼의 가로 배치 */
#footer li {
    display: inline;
    padding: 0 3px;
}