@charset "utf-8";

/* 내용 영역 */
#content {
    width: 318px;
    margin: auto;
    position: relative;
}

/* 서브 타이틀의 폰트, 여백 설정 */
#content h2 {
    color: #ff6600;
    height: 35px;
    line-height: 35px;
    padding-left: 5px;
    font-size: 16px;
    font-weight: bold;
}

/* 강의신청 버튼의 위치 설정 */
#content .button {
    position: absolute;
    top: 5px;
    right: 2px;
}

/* <li> 태그에 대한 배경색상, 여백 처리 */
#content li {
    padding: 10px;
    width: 290px;
    margin: auto;
    border: 1px solid #000000;
    background: #ffffff;
    margin-bottom: 10px;
}

#content li:last-child {
    margin-bottom: 0px;
}

/* 각 항목에 대한 링크 클릭 영역 처리 */
#content li a {
    display: block;
    width: auto;
}

/* 강좌별 타이틀 이미지의 Float 처리 */
#content li a .thumb {
    display: block;
    float: left;
}

각 강의 목록별 내용에 대한 Float 처리
#content li a .desc {
    display: block;
    width: 190px;
    float: right;
    font-size: 0.8em;
    line-height: 125%;
}

/* <li> 태크에 대한 마감제 처리 + 각 강의 제목 색상 처리 */
#content li:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}

#content li .orange {
    color: #ff6600;
}