@charset "UTF-8";
#footer * {
  color: white;
  list-style: none;
  font-family: "nbg", "맑은 고딕", "HelveticaNeue", "DroidSans", Sans-serif, Helvetica;
}

#footer {
  width: 100%;
  height: 600px;
  background-color: #2c2a29;
  overflow-x: hidden;
}

#footer #ft_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -15px;
  left: 330px;
}

#footer #ft_list ul {
  margin: 46.5px;
  font-size: 12px;
}

#footer #ft_list ul li {
  margin-top: 12px;
  letter-spacing: -1.5px;
}

#footer #ft_list ul li:hover {
  text-decoration: underline;
}

#footer #ft_list ul li:first-child {
  letter-spacing: 0.3px;
  margin-bottom: 20px;
  font-size: 14px;
}

#footer #ft_list #ft_logo {
  width: 15px;
  height: 145px;
  margin-top: 60px;
  margin-left: 150px;
}

#footer #ft_list ul:first-child {
  margin-right: 90px;
}

#footer #ft_list ul:nth-child(4) {
  margin-left: 80px;
}

#footer #award {
  position: relative;
  top: 42px;
  left: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer #award:hover {
  cursor: pointer;
}

#footer #ft_info1 {
  position: relative;
  top: 110px;
  left: 450px;
}

#footer #ft_info1 span {
  color: #ccc;
  letter-spacing: -0.5px;
  font-size: 12px;
  font-weight: bold;
  border-right: 0.5px solid #555;
  padding: 0 10px 0 5px;
}

#footer #ft_info1 span:hover {
  cursor: pointer;
  text-decoration: underline;
}

#footer #ft_info1 span:first-child {
  color: #04b04e;
  letter-spacing: -1px;
}

#footer #ft_info2 {
  position: relative;
  top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer #ft_info2 a {
  display: block;
  width: 107px;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
  margin-left: 4px;
  margin-right: 4px;
  position: relative;
  bottom: 77px;
  left: 780px;
}

#footer #ft_info2 a:hover {
  cursor: pointer;
  text-decoration: underline;
}

#footer #ft_info3 {
  position: relative;
  top: 150px;
  left: 610px;
  font-size: 12px;
}

#footer #ft_info3 span {
  color: #999;
}

#footer p {
  font-size: 12px;
  color: #999;
  position: relative;
  top: 150px;
  left: 610px;
}
