@charset "UTF-8";
* {
  font-family: "nbg", "맑은 고딕", "HelveticaNeue", "DroidSans", Sans-serif, Helvetica;
  text-decoration: none;
  list-style: none;
}

* a:hover {
  cursor: pointer;
}

#content {
  width: 100%;
  height: 1200px;
  overflow: hidden;
  background: url(../img/2022_Summer1_main_bg.jpg) center bottom no-repeat;
  position: relative;
  bottom: 432px;
  z-index: 1;
}

#slogun {
  position: absolute;
  top: 601px;
  left: 439px;
  opacity: 0;
  -webkit-transition: opacity 550ms;
  transition: opacity 550ms;
}

#drink1 {
  position: absolute;
  bottom: 115px;
  left: 616px;
  opacity: 0;
  -webkit-transition: opacity 550ms;
  transition: opacity 550ms;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

#drink2 {
  position: absolute;
  bottom: 161px;
  left: 798px;
  opacity: 0;
  -webkit-transition: opacity 550ms;
  transition: opacity 550ms;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}

#drink3 {
  position: absolute;
  bottom: 85px;
  right: 306px;
  opacity: 0;
  -webkit-transition: opacity 550ms;
  transition: opacity 550ms;
  -webkit-transition-delay: 1500ms;
          transition-delay: 1500ms;
}

#detail {
  font-size: 14px;
  font-weight: bold;
  color: #d73a7a;
  position: absolute;
  top: 808px;
  left: 510px;
  display: block;
  width: 125px;
  height: 34px;
  line-height: 34px;
  border: 2px solid #d73a7a;
  text-align: center;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: opacity 550ms;
  transition: opacity 550ms;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

#detail:hover {
  background-color: #d73a7a;
  color: white;
  text-decoration: underline;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#card1 {
  position: fixed;
  top: 154px;
  right: 250px;
  z-index: 9999;
}

#card2 {
  position: fixed;
  top: 250px;
  right: 250px;
  z-index: 9999;
}

#content2 {
  width: 100%;
  height: 62px;
  background-color: #f6f5ef;
  position: relative;
  bottom: 432px;
  overflow: hidden;
  -webkit-transition: height 550ms;
  transition: height 550ms;
}

#content2 #notice {
  background: url(../img/line_notice_bg.jpg) no-repeat;
  background-size: cover;
  height: 62px;
  margin-right: 81px;
  overflow: hidden;
}

#content2 #notice .n_content {
  width: 470px;
  height: 320px;
  position: absolute;
  left: 490px;
  top: 0px;
}

#content2 #notice .n_content a {
  font-size: 14px;
  font-weight: bold;
  line-height: 65px;
  color: white;
}

#content2 #notice .n_animate {
  -webkit-transition: all 100ms;
  transition: all 100ms;
}

#content2 #notice p {
  font-size: 16px;
  font-weight: bold;
  color: black;
  line-height: 62px;
  position: absolute;
  left: 1250px;
}

#content2 #notice .p1 {
  color: white;
  position: absolute;
  left: 410px;
}

#content2 #notice img {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 14px;
  left: 966px;
}

#content2 #notice #down {
  position: absolute;
  top: 14px;
  left: 1455px;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

#promotion {
  width: 100%;
  height: 658px;
  background-color: #f6f5ef;
  position: relative;
}

#promotion #slider {
  position: relative;
  width: 819px;
  height: 551px;
  padding-top: 40px;
  margin: 0 auto;
}

#promotion #slider #slide {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0px;
}

#promotion #slider #slide.animate {
  -webkit-transition: 500ms ease-out;
  transition: 500ms ease-out;
}

#promotion #slider #slide li {
  position: relative;
}

#promotion #slider #slide li:not(:last-child) {
  margin-right: 20px;
}

#promotion #slider #slide li span {
  display: block;
  width: 120px;
  height: 35px;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  line-height: 35px;
  position: absolute;
  bottom: 15px;
  left: 347px;
  letter-spacing: -1px;
  cursor: pointer;
}

#promotion #slider #slide li span:hover {
  background-color: #222;
  color: white;
  text-decoration: underline;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#promotion #prev {
  top: 266px;
  left: 442px;
}

#promotion #prev img {
  position: absolute;
  top: 12px;
  left: 17px;
  z-index: 99;
}

#promotion #prev:hover {
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#promotion #next {
  top: 266px;
  left: 1422px;
}

#promotion #next img {
  position: absolute;
  top: 12px;
  left: 17px;
  z-index: 99;
}

#promotion #next:hover {
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#promotion #controller {
  width: 100px;
  height: 30px;
  position: absolute;
  bottom: 27px;
  left: 910px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#promotion #controller a:first-child {
  position: absolute;
  top: 5px;
  left: 11px;
}

#promotion #controller a:nth-child(2) {
  position: absolute;
  top: 7px;
  left: 13px;
}

#promotion #controller a:nth-child(3) {
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 33px;
}

#promotion #controller a:nth-child(4) {
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 53px;
}

#promotion #controller a:last-child {
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 73px;
}

#promotion #controller .hidden {
  display: none;
}

#promotion > a {
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 100%;
  position: absolute;
}

#rewards {
  width: 100%;
  height: 240px;
  background-color: #1E3932;
  position: relative;
  bottom: 432px;
  color: white;
  letter-spacing: -1.5px;
  z-index: 9;
}

#rewards img {
  width: 175px;
  height: auto;
  position: absolute;
  top: 30px;
  left: 460px;
}

#rewards b {
  font-weight: 700;
  font-size: 27px;
}

#rewards .rewards_top {
  width: 800px;
  height: 112px;
  position: absolute;
  top: 30px;
  left: 670px;
  border-bottom: 1px solid white;
}

#rewards .rewards_top h1 {
  font-size: 25px;
}

#rewards .rewards_top h3 {
  margin-top: 20px;
  font-size: 16px;
}

#rewards .rewards_top h3 b {
  font-weight: bold;
  font-size: 17px;
  line-height: 23px;
}

#rewards .rewards_top a {
  display: block;
  width: 90px;
  height: 35px;
  border: 1px solid #00704a;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  position: absolute;
  bottom: 20px;
  right: 90px;
  background-color: #00704a;
  font-size: 14px;
  font-weight: bold;
}

#rewards .rewards_top a:hover {
  text-decoration: underline;
}

#rewards .rewards_top a:last-child {
  display: block;
  width: 75px;
  height: 33px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  line-height: 33px;
  position: absolute;
  bottom: 20px;
  right: 0px;
  background-color: #1E3932;
}

#rewards .rewards_bottom {
  width: 800px;
  height: 112px;
  position: absolute;
  top: 150px;
  left: 670px;
}

#rewards .rewards_bottom b {
  font-size: 16px;
  font-weight: bold;
}

#rewards .rewards_bottom p {
  margin-top: 10px;
  font-size: 15px;
  line-height: 21px;
}

#rewards .rewards_bottom a {
  display: block;
  width: 185px;
  height: 35px;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  position: absolute;
  bottom: 60px;
  right: 0px;
  background-color: #1E3932;
}

#rewards .rewards_bottom a:hover {
  text-decoration: underline;
}

#content4 {
  width: 100%;
  height: 2139px;
}

#content4 #sulawesi {
  width: 100%;
  height: 570px;
  background: url(../img/2022_Summer1_bean_bg2.jpg) no-repeat;
  position: relative;
  bottom: 432px;
  overflow: hidden;
}

#content4 #sulawesi .summer1_left {
  position: absolute;
  top: -105px;
}

#content4 #sulawesi .summer1_bean {
  position: absolute;
  left: 0px;
  top: 74px;
  width: 310px;
  opacity: 0;
  -webkit-transition: all 5s;
  transition: all 5s;
}

#content4 #sulawesi .summer1_bean.visible {
  left: 540px;
  opacity: 1;
  -webkit-transition: all 2s;
  transition: all 2s;
}

#content4 #sulawesi .text_detail.visible {
  right: 390px;
  opacity: 1;
  -webkit-transition: right 2s;
  transition: right 2s;
}

#content4 #sulawesi .text_detail {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 175px;
  right: 0px;
  opacity: 0;
  -webkit-transition: right 5s;
  transition: right 5s;
}

#content4 #sulawesi .text_detail .summer1_text {
  width: 320px;
  position: absolute;
  top: 10px;
  left: 0;
}

#content4 #sulawesi .text_detail .summer1_detail {
  font-size: 14px;
  font-weight: bold;
  color: #1e245c;
  display: block;
  width: 120px;
  height: 34px;
  line-height: 34px;
  border: 2px solid #1e245c;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  bottom: 185px;
  left: 0px;
}

#content4 #sulawesi .text_detail .summer1_detail:hover {
  background-color: #1e245c;
  color: white;
  text-decoration: underline;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#content4 #sulawesi .summer1_right {
  position: absolute;
  right: 0px;
  bottom: -87px;
}

#content4 #indonesia {
  width: 100%;
  height: 400px;
  background: url(../img/reserve_2022_indonesia_visual_bg.jpg) no-repeat;
  position: relative;
  top: -432px;
}

#content4 #indonesia .indonesia_leaf1 {
  position: absolute;
  bottom: 0px;
  left: -80px;
}

#content4 #indonesia .indonesia_leaf2 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

#content4 #indonesia .indonesia_title {
  position: absolute;
  bottom: 171px;
  left: 409px;
}

#content4 #indonesia .indonesia_visual {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#content4 #indonesia .indonesia_detail {
  font-size: 14px;
  font-weight: bold;
  color: #b9813e;
  display: block;
  width: 120px;
  height: 34px;
  line-height: 34px;
  border: 2px solid #b9813e;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  bottom: 95px;
  left: 675px;
}

#content4 #indonesia .indonesia_detail:hover {
  background-color: #b9813e;
  color: white;
  text-decoration: underline;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#content4 #pick {
  position: relative;
  top: -432px;
  height: 800px;
  width: 100%;
  background: url(../img/fav_prod_bg_new.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#content4 #pick .pick_text1 {
  position: absolute;
  top: 119px;
  left: 0px;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

#content4 #pick .pick_text1.visible {
  left: 520px;
  opacity: 1;
  -webkit-transition: left 2s;
  transition: left 2s;
}

#content4 #pick .pick_text2 {
  position: absolute;
  top: 369px;
  left: 0px;
  opacity: 0;
  -webkit-transition: left 2s;
  transition: left 2s;
}

#content4 #pick .pick_text2.visible {
  left: 412px;
  opacity: 1;
  -webkit-transition: left 2s;
  transition: left 2s;
}

#content4 #pick .pick_imgs {
  position: absolute;
  right: 310px;
  top: 100px;
}

#content4 #pick .pick_detail {
  font-size: 14px;
  font-weight: bold;
  color: white;
  display: block;
  width: 120px;
  height: 34px;
  line-height: 34px;
  border: 2px solid white;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: 570px;
  left: 648px;
}

#content4 #pick .pick_detail:hover {
  background-color: white;
  color: black;
  text-decoration: underline;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#content4 #magazine {
  width: 100%;
  height: 400px;
  background: url(../img/reserve_bg_pc.png) no-repeat;
  background-position: -40px 45px;
  position: relative;
  top: -432px;
}

#content4 #magazine .magazine_text {
  position: absolute;
  left: 455px;
  top: 135px;
}

#content4 #magazine .magazine_imgs {
  position: absolute;
  right: 480px;
}

#content4 #magazine .magazine_detail {
  font-size: 14px;
  font-weight: bold;
  color: black;
  display: block;
  width: 120px;
  height: 34px;
  line-height: 34px;
  border: 2px solid black;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  bottom: 100px;
  left: 750px;
}

#content4 #magazine .magazine_detail:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#content4 #store {
  width: 100%;
  height: 400px;
  background: url(../img/store_bg.jpg) no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  top: -432px;
}

#content4 #store .store_img1 {
  position: absolute;
  left: 480px;
}

#content4 #store .store_img2 {
  position: absolute;
  left: 710px;
  bottom: 23px;
}

#content4 #store .store_img3 {
  position: absolute;
  top: -60px;
  left: 840px;
}

#content4 #store .store_txt1 {
  position: absolute;
  right: 0;
  top: 100px;
  opacity: 0;
  -webkit-transition: right 4s;
  transition: right 4s;
}

#content4 #store .store_txt1.visible {
  right: 469px;
  opacity: 1;
  -webkit-transition: right 2s;
  transition: right 2s;
}

#content4 #store .store_txt2 {
  position: absolute;
  right: 0;
  top: 168px;
  opacity: 0;
  -webkit-transition: right 4s;
  transition: right 4s;
}

#content4 #store .store_txt2.visible {
  right: 488px;
  top: 168px;
  opacity: 1;
  -webkit-transition: right 2s;
  transition: right 2s;
}

#content4 #store .store_img4 {
  position: absolute;
  bottom: 0;
  right: 350px;
}

#content4 #store .store_detail {
  font-size: 15px;
  font-weight: bold;
  color: #222;
  display: block;
  width: 120px;
  height: 34px;
  line-height: 34px;
  border: 2px solid #222;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  bottom: 105px;
  right: 0px;
  opacity: 0;
  -webkit-transition: right 2s;
  transition: right 2s;
}

#content4 #store .store_detail:hover {
  background-color: #222;
  color: white;
  text-decoration: underline;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#content4 #store .store_detail.visible {
  right: 720px;
  opacity: 1;
  -webkit-transition: right 1s;
  transition: right 1s;
}
