@charset "utf-8";

* {
  box-sizing: inherit;
  font-family: "Raleway", "sans-serif";
}

body * {
  overflow: hidden;
  touch-action: none;
}

#header {
  width: 100%;
  height: 937px;
}

#header #background {
  background: url(../img/wedding_couple.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 937px;
  filter: grayscale(50%);
  z-index: 9999;
}

#header #background #title {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 380px;
  letter-spacing: 4px;
}

#header #background #title h1 {
  font-size: 64px;
  color: white;
  font-weight: 300;
}

#header #background #title h2 {
  font-size: 30px;
  color: white;
  font-weight: 100;
}

#header #background #title h3 {
  font-size: 30px;
  color: white;
  font-weight: 500;
  margin-top: 8px;
}

#cont1 {
  width: 100%;
  height: 1130px;
  background-color: #f2e0e0;
}

#cont1 h1 {
  text-align: center;
  position: relative;
  top: 80px;
  font-size: 36px;
  color: #757575;
  font-weight: 550;
}

#cont1 img {
  display: block;
  margin: 135px auto;
  width: 52%;
  height: auto;
  filter: grayscale(70%);
}

#cont1 p {
  font-size: 15px;
  line-height: 30px;
  position: relative;
  bottom: 80px;
  left: 450px;
}

#cont1 #wdbt {
  width: 53%;
  height: 60px;
  margin: 0 auto;
  position: relative;
  bottom: 30px;
}

#cont1 #wdbt div {
  width: 185px;
  line-height: 60px;
  color: white;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
#cont1 #wdbt div:hover {
  color: black;
  background-color: #ccc;
}

#cont2 {
  background-color: beige;
  background: url(../img/flowers.jpg) center no-repeat;
  width: 100%;
  height: 940px;
  background-size: cover;
}

#cont2 h1 {
  font-size: 64px;
  text-align: center;
  margin-top: 400px;
  color: white;
}

#cont2 p {
  font-size: 30px;
}

#cont3 {
  width: 100%;
  height: 1150px;
  background-color: #f2e0e0;
}

#cont3 h1 {
  font-size: 36px;
  text-align: center;
  color: #757575;
  font-weight: 500;
  margin-top: 80px;
}

#cont3 img {
  width: 52%;
  height: auto;
  display: block;
  margin: 85px auto;
  filter: grayscale(70%);
}

#cont3 #plan {
  width: 53%;
  height: 150px;
  margin: 0 auto;
  position: relative;
  bottom: 15px;
}

#cont3 #plan div {
  float: left;
  line-height: 50px;
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
}

#cont3 #plan h2 {
  font-size: 30px;
}

#cont3 #plan p {
  font-size: 15px;
  font-weight: 300;
}

#cont4 {
  width: 100%;
  height: 360px;
  background-color: #ffdddd;
}

#cont4 h1 {
    font-size: 36px;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 80px;
}

#cont4 p {
    font-size: 18px;
}

#cont4 #RSVP {
  width: 53%;
  height: 65px;
  margin: 0 auto;
  position: relative;
  top: 37px;
}

#cont4 #RSVP div {
  font-size: 24px;
  width: 185px;
  line-height: 65px;
  color: white;
  background-color: #f88179;
  margin: 0 auto;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
#cont4 #RSVP div:hover {
  color: black;
  background-color: #ccc;
}

#footer {
  width: 100%;
  height: 100px;
}

#footer #address {
    width: 100%;
    height: 80px;
    font-size: 15px;
    color: white;
    text-align: center;
    background-color: black;
}
#footer #address a {
    color: white;
    line-height: 80px;
}


#footer #menu {
  background-color: white;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0px;
  z-index: 99999;
  opacity: 0.8;
}

#footer #menu .menu {
  display: inline-block;
  width: 23%;
  font-size: 15px;
  line-height: 40px;
  margin-left: 30px;
  text-align: center;
  cursor: pointer;
  position: relative;
  top: 5px;
}

#footer #menu a {
  text-decoration: none;
  color: black;
}

#footer #menu:hover {
  opacity: 1;
}

#footer #menu #mn1:hover,
#footer #menu #mn2:hover,
#footer #menu #mn3:hover {
  background-color: #ccc;
}
#footer #menu #mn4:hover {
  color: white;
  background-color: black;
}

