.departTr {
    border: 2px solid brown;
    background-color: rgba(125, 60, 60, 0.5);
    color: white;
    font-size: 20px;
}
:global .departTr2 {
    border: 2px solid brown;
    background-color: rgba(125, 60, 60, 0.5);
    color: white;
    font-size: 15px;
}


.profTr {
    border: 2px solid seagreen;
    background-color: rgba(46, 100, 87, 0.5);;
    color: #333;
    font-size: 20px;
}
:global .profTr2 {
    
    border: 2px solid seagreen;
    background-color: rgba(46, 100, 87, 0.5);;
    color: #333;
    font-size: 15px;
}

.studTr {
    border: 2px solid skyblue;
    background-color: rgba(120, 180, 215, 0.5);
    color: #333;
    font-size: 20px;
}
:global .studTr2 {
    border: 2px solid skyblue;
    background-color: rgba(120, 180, 215, 0.5);
    color: #333;
    font-size: 15px;
}

