@import "./variable.scss";

#footer * {
  color: white;
  list-style: none;
  font-family: "nbg", "맑은 고딕", "HelveticaNeue", "DroidSans", Sans-serif,
    Helvetica;
}
#footer {
  width: $max;
  height: 600px;
  background-color: #2c2a29;
  overflow-x: hidden;
  & #ft_list {
    display: flex;
    position: relative;
    top: -15px;
    left: 330px;
    & ul {
      margin: 46.5px;
      font-size: 12px;
      & li {
        margin-top: 12px;
        letter-spacing: -1.5px;
        &:hover {
          text-decoration: underline;
        }
      }
      & li:first-child {
        letter-spacing: 0.3px;
        margin-bottom: 20px;
        font-size: 14px;
      }
    }
    & #ft_logo {
      width: 15px;
      height: 145px;
      margin-top: 60px;
      margin-left: 150px;
    }
    & ul:first-child {
      margin-right: 90px;
    }
    & ul:nth-child(4) {
      margin-left: 80px;
    }   
  }
  & #award {
    position: relative;
    top: 42px;
    left: 370px;
    display: flex;
    &:hover {
        cursor: pointer;
    }
  }
  & #ft_info1 {
    position: relative;
    top: 110px;
    left: 450px;
    & span {
      color: #ccc;
      letter-spacing: -0.5px;
      font-size: 12px;
      font-weight: bold;
      border-right: 0.5px solid #555;
      padding: 0 10px 0 5px;
      &:hover {
          cursor: pointer;
          text-decoration: underline;
      }
    }
    & span:first-child {
      color: #04b04e;
      letter-spacing: -1px;
    }
  }
  & #ft_info2 {
    position: relative;
    top: 200px;
    display: flex;
    & a {
      display: block;
      width: 107px;
      height: 30px;
      font-size: 12px;
      font-weight: bold;
      border: 2px solid white;
      border-radius: 3px;
      text-align: center;
      line-height: 30px;
      margin-left: 4px;
      margin-right: 4px;
      position: relative;
      bottom: 77px;
      left: 780px;
      &:hover {
          cursor: pointer;
          text-decoration: underline;
      }
    }
  }
  & #ft_info3 {
    position: relative;
    top: 150px;
    left: 610px;
    font-size: 12px;
    & span {
        color: #999;
        margin-left: 5px;
        margin-right: 5px;
        letter-spacing: -0.5px;

    }
  }
  & p {
    font-size: 12px;
    color: #999;
    position: relative;
    top: 175px;
    left: 800px;
  }
}
