@import "./variable.scss";

#header * {
  font-family: "nbg", "맑은 고딕", "HelveticaNeue", "DroidSans", Sans-serif,
    Helvetica;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

#header {
  width: $max;
  height: 120px;
  background-color: $menu;
  border-top: 2px solid black;
  position: fixed;
  z-index: 999999;
}

#header a:hover {
  text-decoration: underline;
}

#basic_menu {
  width: 57%;
  height: 83px;
  margin: 0 auto;
  padding: 19px 0 19px 0;
}

#logo {
  width: 75px;
  height: auto;
  background-size: cover;
}

.top {
  font: 13px "Avenir", "Arial", "georgia";
  color: $bl;
  position: relative;
  left: 460px;
  bottom: 65px;
  padding: 0 15px 0 15px;
  border-right: 0.5px solid $c;
  letter-spacing: -0.5px;
  transition: all 350ms;

  &:nth-child(5),
  &:nth-child(6) {
    border: 0;
  }

  &:nth-child(6) {
    display: block;
    width: 3px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 15%;
    position: relative;
    left: 1005px;
    bottom: 90px;
    background-color: $wh;
    overflow: hidden;
    transition: all 350ms;
  }
}

#header #searchInput {
  width: 172px;
  height: 28px;
  position: absolute;
  top: 1px;
  right: -2px;
  border: 0;
  outline: none;
}

#searchImg {
  width: 21px;
  position: absolute;
  right: 6px;
  top: 6px;
}

.bottom {
  position: relative;
  left: 350px;
  bottom: 75px;
  float: left;
  width: 80px;
  height: 66px;
  z-index: 99;
  & a {
    display: block;
    width: 50px;
    font-size: 14px;
    margin: 10px auto;
    text-align: center;
  }
  &.long {
    width: 150px;
    height: 66px;
  }
  &.long a {
    width: 150px;
  }
  &.last {
    width: 170px;
  }
  &.last a {
    position: relative;
    right: 22px;
  }
  &:last-child {
    width: 90px;
  }
  &:last-child a {
    width: 100px;
    position: relative;
    right: 27px;
  }
  &:hover {
    background-color: $sub;
    color: $grn;
    text-decoration: underline;
  }
  &::after {
    content: "";
    display: block;
    float: none;
    clear: both;
  }
}

.last {
  padding-left: 45px;
}

#sub_menu1 {
  width: $max;
  height: 530px;
  background-color: $sub;
  border-bottom: 2px solid $wh;
  position: absolute;
}

#sub_menu1 #list1 {
  width: 1350px;
  height: 400px;
  margin: 0 auto;
}

.ul {
  &:first-child {
    margin-left: 130px;
    margin-bottom: 135px;
  }
  color: $wh;
  font-size: 14px;
  float: left;
  margin: 20px 48px 0 48px;
  &:last-child {
    content: "";
    float: none;
    clear: both;
    display: block;
    margin-left: 130px;
    margin-top: 135px;
  }
}

#list1 .ul > li {
  font-size: 12px;
  color: #888;
  margin-top: 10px;
  position: relative;
  top: 10px;
}

#list1-2 {
  width: $max;
  height: 140px;
  background: url(../img/gnb_sub_txbg.jpg) repeat-x;
  list-style: none;
}

#list1-2 #h1 {
  position: relative;
  left: 413px;
  top: 25px;
  line-height: 26px;
  font-size: 12px;
  font-weight: bold;
  color: #888;
}

#list1-2 > li {
  position: relative;
  left: 413px;
  top: 18px;
  line-height: 26px;
  font-size: 12px;
  font-weight: bold;
  color: $grn;
}

#header .hidden {
  display: none;
}

#sub_menu2 {
  position: absolute;
  width: $max;
  height: 364px;
  background-color: $sub;
}

#sub_menu2 #list2 {
  width: 1100px;
  height: 270px;
  margin: 0 auto;
}

#list2 .ul2 {
  float: left;
  position: absolute;
  color: $wh;
  font-size: 14px;
  &:first-child {
    right: 1385px;
    top: 25px;
  }
  &.two2 {
    right: 1185px;
    top: 25px;
  }
  &.three2 {
    right: 985px;
    top: 25px;
  }
  &.four2 {
    right: 785px;
    top: 25px;
  }
  &:last-child {
    right: 530px;
    top: 25px;
  }
  &::after {
    content: "";
    display: block;
    clear: both;
    float: none;
  }
  & > li {
    font-size: 12px;
    color: #888;
    margin-top: 10px;
  }
}

#sub_menu2 #list2-2 {
  width: $max;
  height: 90px;
  background: url(../img/gnb_sub_txbg.jpg) repeat-x;
  list-style: none;
}

#list2-2 #h2 {
  position: absolute;
  left: 415px;
  top: 300px;
  font-size: 12px;
  font-weight: bold;
  color: #888;
  & img {
    margin-left: 4px;
  }
}

#list2-2 > li {
  position: absolute;
  left: 415px;
  top: 320px;
  font-size: 12px;
  font-weight: bold;
  color: $grn;
}

#sub_menu3 {
  position: absolute;
  width: $max;
  height: 210px;
  background-color: $sub;
}

#sub_menu3 #list3 {
  width: 1100px;
  height: 117px;
  margin: 0 auto;
}

#list3 .ul3 {
  float: left;
  position: absolute;
  color: $wh;
  font-size: 14px;
  &:first-child {
    right: 1445px;
    top: 25px;
  }
  &.two3 {
    right: 1165px;
    top: 25px;
  }
  &.three3 {
    right: 910px;
    top: 25px;
  }
  &.four3 {
    right: 690px;
    top: 25px;
  }
  &:last-child {
    right: 530px;
    top: 25px;
  }
  &::after {
    content: "";
    display: block;
    clear: both;
    float: none;
  }
  & > li {
    font-size: 12px;
    color: #888;
    margin-top: 10px;
  }
}

#sub_menu3 #list3-2 {
  width: $max;
  height: 90px;
  background: url(../img/gnb_sub_txbg.jpg) repeat-x;
  list-style: none;
}

#list3-2 #h3 {
  position: absolute;
  left: 415px;
  top: 150px;
  font-size: 12px;
  font-weight: bold;
  color: #888;
}

#list3-2 > li {
  position: absolute;
  left: 415px;
  top: 170px;
  font-size: 12px;
  font-weight: bold;
  color: $grn;
}

#sub_menu4 {
  position: absolute;
  width: $max;
  height: 235px;
  background-color: $sub;
}

#sub_menu4 #list4 {
  width: 1100px;
  height: 205px;
  margin: 0 auto;
}

#list4 .ul4 {
  float: left;
  position: absolute;
  color: $wh;
  font-size: 14px;
  &:first-child {
    right: 1375px;
    top: 25px;
  }
  &.two4 {
    right: 1155px;
    top: 25px;
  }
  &.three4 {
    right: 960px;
    top: 25px;
  }
  &.four4 {
    right: 740px;
    top: 25px;
  }
  &:last-child {
    right: 520px;
    top: 25px;
  }
  &::after {
    content: "";
    display: block;
    clear: both;
    float: none;
  }
  & > li {
    font-size: 12px;
    color: #888;
    margin-top: 10px;
  }
}

#sub_menu4 #list4-2 {
  width: $max;
  height: 27px;
  background: url(../img/gnb_sub_txbg.jpg) repeat-x;
}

#sub_menu5 {
  position: absolute;
  width: $max;
  height: 297px;
  background-color: $sub;
}

#sub_menu5 #list5 {
  width: 1100px;
  height: 205px;
  margin: 0 auto;
}

#list5 .ul5 {
  float: left;
  position: absolute;
  color: $wh;
  font-size: 14px;
  &:first-child {
    right: 1390px;
    top: 25px;
  }
  &.two5 {
    right: 1170px;
    top: 25px;
  }
  &:last-child {
    right: 925px;
    top: 25px;
  }
  &::after {
    content: "";
    display: block;
    clear: both;
    float: none;
  }
  & > li {
    font-size: 12px;
    color: #888;
    margin-top: 10px;
  }
}

#sub_menu5 #list5-2 {
  width: $max;
  height: 89px;
  background: url(../img/gnb_sub_txbg.jpg) repeat-x;
  list-style: none;
}

#list5-2 #h5 {
  position: absolute;
  left: 415px;
  top: 235px;
  font-size: 12px;
  font-weight: bold;
  color: #888;
}

#list5-2 > li {
  position: absolute;
  left: 415px;
  top: 255px;
  font-size: 12px;
  font-weight: bold;
  color: $grn;
}

#sub_menu6 {
  position: absolute;
  width: $max;
  height: 320px;
  background-color: $sub;
}

#sub_menu6 #list6 {
  width: 1100px;
  height: 184px;
  margin: 0 auto;
}

#list6 .ul6 {
  float: left;
  position: absolute;
  color: $wh;
  font-size: 14px;
  &:first-child {
    right: 1420px;
    top: 25px;
  }
  &.two6 {
    right: 1190px;
    top: 25px;
  }
  &.three6 {
    right: 980px;
    top: 25px;
  }
  &.four6 {
    right: 795px;
    top: 25px;
  }
  &:last-child {
    right: 570px;
    top: 25px;
  }
  &::after {
    content: "";
    display: block;
    clear: both;
    float: none;
  }
  & > li {
    font-size: 12px;
    color: #888;
    margin-top: 10px;
  }
}

#sub_menu6 #list6-2 {
  width: $max;
  height: 134px;
  background: url(../img/gnb_sub_txbg.jpg) repeat-x;
  list-style: none;
}

#list6-2 .h6 {
  position: relative;
  top: 32px;
  left: 410px;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #888;
}

#list6-2 > li {
  position: relative;
  top: 28px;
  left: 410px;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
  color: $grn;
}

.scroll0,
.scroll1,
.scroll2,
.scroll3,
.scroll4,
.scroll5 {
  width: $max;
  height: 0px;
  position: relative;
  bottom: 77px;
  overflow: hidden;
  transition: height 1.5s ease-out;
}
