@import "./variable.scss";

* {
  font-family: "nbg", "맑은 고딕", "HelveticaNeue", "DroidSans", Sans-serif,
    Helvetica;
  text-decoration: none;
  list-style: none;
  & a:hover {
    cursor: pointer;
  }
}

#content {
  width: $max;
  height: 1200px;
  overflow: hidden;
  background: url(../img/2022_Summer1_main_bg.jpg) center bottom no-repeat;
  position: relative;
  bottom: 432px;
  z-index: 1;
}

#slogun {
  position: absolute;
  top: 601px;
  left: 420px;
  opacity: 0;
  transition: opacity 550ms;
}
#drink1 {
  position: absolute;
  bottom: 115px;
  left: 593px;
  opacity: 0;
  transition: opacity 550ms;
  transition-delay: 1s;
}
#drink2 {
  position: absolute;
  bottom: 161px;
  left: 775px;
  opacity: 0;
  transition: opacity 550ms;
  transition-delay: 500ms;
}
#drink3 {
  position: absolute;
  bottom: 85px;
  right: 283px;
  opacity: 0;
  transition: opacity 550ms;
  transition-delay: 1500ms;
}

#detail {
  font-size: 14px;
  font-weight: bold;
  color: #d73a7a;
  position: absolute;
  top: 808px;
  left: 490px;
  display: block;
  width: 125px;
  height: 34px;
  line-height: 34px;
  border: 2px solid #d73a7a;
  text-align: center;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 550ms;
  transition-delay: 2s;
  &:hover {
    background-color: #d73a7a;
    color: white;
    text-decoration: underline;
    transition: all 0.5s;
  }
}

#card1 {
  position: fixed;
  top: 154px;
  right: 228px;
  z-index: 9999;
}
#card2 {
  position: fixed;
  top: 250px;
  right: 228px;
  z-index: 9999;
}

#content2 {
  width: $max;
  height: 62px;
  background-color: $pro;
  position: relative;
  bottom: 432px;
  overflow: hidden;
  transition: height 550ms;
  & #notice {
    background: url(../img/line_notice_bg.jpg) no-repeat;
    background-size: cover;
    height: 62px;
    margin-right: 81px;
    overflow: hidden;
    & .n_content {
      width: 470px;
      height: 320px;
      position: absolute;
      left: 490px;
      top: 0px;

      & a {
        font-size: 14px;
        font-weight: bold;
        line-height: 65px;
        color: white;
      }
    }
    & .n_animate {
      transition: all 100ms;
    }
    & p {
      font-size: 16px;
      font-weight: bold;
      color: $bl;
      line-height: 62px;
      position: absolute;
      left: 1230px;
    }
    & .p1 {
      color: $wh;
      position: absolute;
      left: 410px;
    }
    & img {
      width: 35px;
      height: 35px;
      position: absolute;
      top: 14px;
      left: 966px;
    }
    & #down {
      position: absolute;
      top: 14px;
      left: 1435px;
      transform: scaleY(1);
    }
  }
}

#promotion {
  width: $max;
  height: 658px;
  background-color: $pro;
  position: relative;
  & #slider {
    position: relative;
    width: 819px;
    height: 551px;
    padding-top: 40px;
    margin: 0 auto;
    & #slide {
      position: absolute;
      display: flex;
      left: 0px;
    }
    & #slide.animate {
      transition: 500ms ease-out;
    }
    #slide li {
      position: relative;
    }
    & #slide li:not(:last-child) {
      margin-right: 20px;
    }
    & #slide li span {
      display: block;
      width: 120px;
      height: 35px;
      border: 2px solid black;
      border-radius: 3px;
      font-size: 14px;
      text-align: center;
      line-height: 35px;
      position: absolute;
      bottom: 15px;
      left: 347px;
      letter-spacing: -1px;
      cursor: pointer;
      &:hover {
        background-color: #222;
        color: white;
        text-decoration: underline;
        transition: all 0.5s;
      }
    }
  }
  & #prev {
    top: 266px;
    left: 442px;
    & img {
      position: absolute;
      top: 12px;
      left: 17px;
      z-index: 99;
    }
    &:hover {
      background-color: white;
      transition: all 0.5s;
    }
  }
  & #next {
    top: 266px;
    left: 1422px;
    & img {
      position: absolute;
      top: 12px;
      left: 17px;
      z-index: 99;
    }
    &:hover {
      background-color: white;
      transition: all 0.5s;
    }
  }

  & #controller {
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 27px;
    left: 910px;
    display: flex;
    & a:first-child {
      position: absolute;
      top: 5px;
      left: 11px;
    }
    & a:nth-child(2) {
      position: absolute;
      top: 7px;
      left: 13px;
    }
    & a:nth-child(3) {
      opacity: 1;
      position: absolute;
      top: 7px;
      left: 33px;
    }
    & a:nth-child(4) {
      opacity: 1;
      position: absolute;
      top: 7px;
      left: 53px;
    }
    & a:last-child {
      opacity: 1;
      position: absolute;
      top: 7px;
      left: 73px;
    }
    & .hidden {
      display: none;
    }
  }
}

#promotion > a {
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 100%;
  position: absolute;
}

#rewards {
  width: $max;
  height: 240px;
  background-color: $stbs;
  position: relative;
  bottom: 432px;
  color: white;
  letter-spacing: -1.5px;
  z-index: 9;
  & img {
    width: 175px;
    height: auto;
    position: absolute;
    top: 30px;
    left: 460px;
  }
  & b {
    font-weight: 700;
    font-size: 27px;
  }
  & .rewards_top {
    width: 800px;
    height: 112px;
    position: absolute;
    top: 30px;
    left: 670px;
    border-bottom: 1px solid white;
    & h1 {
      font-size: 25px;
    }
    & h3 {
      margin-top: 20px;
      font-size: 16px;
      & b {
        font-weight: bold;
        font-size: 17px;
        line-height: 23px;
      }
    }
    & a {
      display: block;
      width: 90px;
      height: 35px;
      border: 1px solid #00704a;
      border-radius: 5px;
      text-align: center;
      line-height: 35px;
      position: absolute;
      bottom: 20px;
      right: 90px;
      background-color: #00704a;
      font-size: 14px;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
    & a:last-child {
      display: block;
      width: 75px;
      height: 33px;
      border: 2px solid white;
      border-radius: 5px;
      text-align: center;
      line-height: 33px;
      position: absolute;
      bottom: 20px;
      right: 0px;
      background-color: $stbs;
    }
  }
  & .rewards_bottom {
    width: 800px;
    height: 112px;
    position: absolute;
    top: 150px;
    left: 670px;
    & b {
      font-size: 16px;
      font-weight: bold;
    }
    & p {
      margin-top: 10px;
      font-size: 15px;
      line-height: 21px;
    }
    & a {
      display: block;
      width: 185px;
      height: 35px;
      border: 2px solid white;
      border-radius: 5px;
      text-align: center;
      line-height: 35px;
      position: absolute;
      bottom: 60px;
      right: 0px;
      background-color: $stbs;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#content4 {
  width: $max;
  height: 2139px;
  & #sulawesi {
    width: $max;
    height: 570px;
    background: url(../img/2022_Summer1_bean_bg2.jpg) no-repeat;
    position: relative;
    bottom: 432px;
    overflow: hidden;
    & .summer1_left {
      position: absolute;
      top: -105px;
    }
    & .summer1_bean {
      position: absolute;
      left: 0px;
      top: 74px;
      width: 310px;
      opacity: 0;
      transition: all 5s;
    }
    & .summer1_bean.visible {
      left: 540px;
      opacity: 1;
      transition: all 2s;
      
    }
    
    & .text_detail.visible {
      right: 390px;
      opacity: 1;
      transition: right 2s;
    }
    & .text_detail {
      width: 500px;
      height: 400px;
      position: absolute;
      top: 175px;
      right: 0px;
      opacity: 0;
      transition: right 5s;
      & .summer1_text {
        width: 320px;
        position: absolute;
        top: 10px;
        left: 0;
      }
      & .summer1_detail {
        font-size: 14px;
        font-weight: bold;
        color: #1e245c;
        display: block;
        width: 120px;
        height: 34px;
        line-height: 34px;
        border: 2px solid #1e245c;
        text-align: center;
        border-radius: 5px;
        position: absolute;
        bottom: 185px;
        left: 0px;
        &:hover {
          background-color: #1e245c;
          color: white;
          text-decoration: underline;
          transition: all 0.5s;
        }
      }
    }
    & .summer1_right {
      position: absolute;
      right: 0px;
      bottom: -87px;
    }
    
  }
  & #indonesia {
    width: $max;
    height: 400px;
    background: url(../img/reserve_2022_indonesia_visual_bg.jpg) no-repeat;
    position: relative;
    top: -432px;
    & .indonesia_leaf1 {
      position: absolute;
      bottom: 0px;
      left: -51px;
    }
    & .indonesia_leaf2 {
      position: absolute;
      bottom: 0px;
      right: -75px;
      z-index: 1;
    }
    & .indonesia_title {
      position: absolute;
      bottom: 171px;
      left: 385px;
    }
    & .indonesia_visual {
      position: absolute;
      bottom: 0px;
      right: -75px;
    }
    & .indonesia_detail {
      font-size: 14px;
      font-weight: bold;
      color: #b9813e;
      display: block;
      width: 120px;
      height: 34px;
      line-height: 34px;
      border: 2px solid #b9813e;
      text-align: center;
      border-radius: 5px;
      position: absolute;
      bottom: 95px;
      left: 650px;
      &:hover {
        background-color: #b9813e;
        color: white;
        text-decoration: underline;
        transition: all 0.5s;
      }
    }
  }
  & #pick {
    position: relative;
    top: -432px;
    height: 800px;
    width: $max;
    background: url(../img/fav_prod_bg_new.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    & .pick_text1 {
      position: absolute;
      top: 119px;
      left: 0px;
      opacity: 0;
      transition: 2s;
    }
    & .pick_text1.visible {
      left: 498px;
      opacity: 1;
      transition: left 2s;
    }
    & .pick_text2 {
      position: absolute;
      top: 369px;
      left: 0px;
      opacity: 0;
      transition: left 2s;
    }
    & .pick_text2.visible {
      left: 390px;
      opacity: 1;
      transition: left 2s;
    }

    & .pick_imgs {
      position: absolute;
      right: 287px;
      top: 100px;
    }

    & .pick_detail.visible {
      opacity: 1;
      transition: opacity 2s;
    }
    & .pick_detail {
      font-size: 14px;
      font-weight: bold;
      color: white;
      display: block;
      width: 120px;
      height: 34px;
      line-height: 34px;
      border: 2px solid white;
      text-align: center;
      border-radius: 5px;
      position: absolute;
      top: 570px;
      left: 627px;
      opacity: 0;
      &:hover {
        background-color: white;
        color: black;
        text-decoration: underline;
        transition: all 0.5s;
      }
    }
  }
  & #magazine {
    width: $max;
    height: 400px;
    background: url(../img/reserve_bg_pc.png) no-repeat;
    background-position: -40px 45px;
    position: relative;
    top: -432px;
    & .magazine_text {
      position: absolute;
      left: 455px;
      top: 135px;
    }
    & .magazine_imgs {
      position: absolute;
      right: 480px;
    }
    & .magazine_detail {
      font-size: 14px;
      font-weight: bold;
      color: black;
      display: block;
      width: 120px;
      height: 34px;
      line-height: 34px;
      border: 2px solid black;
      text-align: center;
      border-radius: 5px;
      position: absolute;
      bottom: 100px;
      left: 750px;
      &:hover {
        background-color: black;
        color: white;
        text-decoration: underline;
        transition: all 0.5s;
      }
    }
  }
  & #store {
    width: $max;
    height: 400px;
    background: url(../img/store_bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    top: -432px;
    & .store_img1 {
      position: absolute;
      left: 480px;
    }
    & .store_img2 {
      position: absolute;
      left: 710px;
      bottom: 23px;
    }
    & .store_img3 {
      position: absolute;
      top: -60px;
      left: 840px;
    }

    & .store_txt1 {
      position: absolute;
      right: 0;
      top: 100px;
      opacity: 0;
      transition: right 4s;
    }
    & .store_txt1.visible {
      right: 469px;
      opacity: 1;
      transition: right 2s;
    }
    & .store_txt2 {
      position: absolute;
      right: 0;
      top: 168px;
      opacity: 0;
      transition: right 4s;
    }
    & .store_txt2.visible {
      right: 488px;
      top: 168px;
      opacity: 1;
      transition: right 2s;
    }

    & .store_img4 {
      position: absolute;
      bottom: 0;
      right: 350px;
    }
    & .store_detail {
      font-size: 15px;
      font-weight: bold;
      color: #222;
      display: block;
      width: 120px;
      height: 34px;
      line-height: 34px;
      border: 2px solid #222;
      text-align: center;
      border-radius: 3px;
      position: absolute;
      bottom: 105px;
      right: 0px;
      opacity: 0;
      transition: right 2s;
      &:hover {
        background-color: #222;
        color: white;
        text-decoration: underline;
        transition: all 0.5s;
      }
    }
    & .store_detail.visible {
      right: 720px;
      opacity: 1;
      transition: right 1.5s;
    }
  }
}
