@charset "utf-8";

/* 모든 태그에 적용될 공통 속성
------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    color: #222;
    font-size: 12px;
}

/* 모든 링크의 밑줄 제거
------------------------------------------- */
a {
    text-decoration: none;
}

/* 모든 목록정의 초기화. - 여백은 6,7라인에서 제거 했으므로 생략
------------------------------------------- */
ul, ol {
    list-style: none;
}

/* 갤러리 영역 박스
------------------------------------------- */
#gallery li {
    width: 640px;
    margin: auto;
}

/* 한 줄에 4개씩, 가로 배치
------------------------------------------- */
#gallery li {
    width: 25%;
    float: left;
}

/* 링크의 영역 확장 (공식)
- 크기와 여백을 주기 위하여 block으로 설정 후, 가로 가득
------------------------------------------- */
#gallery li a {
    display: block;
    width: auto;
    padding: 10px;
}

/* 링크 안의 span을 block으로 처리
------------------------------------------- */
#gallery li a span {
    display: block;
    width: auto;
}

/* 이미지는 가득 채움
------------------------------------------- */
#gallery .thumb img {
    width: 100%;
    object-fit: cover;
}

/* 텍스트 영역 처리
------------------------------------------- */
#gallery .text {
    width: 95%;
    height: 30px;
    margin: auto;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

/* 게시물의 마우스 오버
------------------------------------------- */
#gallery li a:hover {
    background-color: #eee;
}