<?xml version="1.0" encoding="URF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProfessorDepartmentMapper">
  <!-- Join 결과를 반환 -->
  <select id="selectJoin">
    SELECT 
      profno, name, userid, position, sal, hiredate,
      comm, p.deptno, dname
    FROM professor AS `p`
    INNER JOIN department AS `d`
    ON p.deptno = d.deptno
    WHERE profno=#{profno}
  </select>
</mapper>