@charset "utf-8";

#header span {
    display: none;
}

#content {
    background: url(../img/bg_body.gif) repeat-x;
}

#content h2 {
    width: auto;
    height: 270px;
    background: url(../img/bg_visual.jpg) center top no-repeat;
    text-indent: -10000px;
}

#content ul {
    text-align: center;
}

#content ul li {
    display: inline-block;
    padding: 20px 2px 0px 2px;
}

#content ul li a {
    display: block;
    width: 65px;
    height: 90px;
    margin: auto;
    text-indent: -10000px;
    overflow: hidden;
    background: url(../img/lnb.png) no-repeat;
    cursor: pointer;
}

#content ul li a#icon1 {
    background-position: 0px 0;
}

#content ul li a#icon2 {
    background-position: -66px 0;
}

#content ul li a#icon3 {
    background-position: -136px 0;
}

#content ul li a#icon4 {
    background-position: -206px 0;
}