@charset "utf-8";

* {
  box-sizing: inherit;
  font-family: "Karma", "sans-serif";
}

#header {
  width: 65%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 17.5%;
  z-index: 99999px;
  overflow: hidden;
  background-color: white;
}

#header #left {
  width: 50px;
  height: 50px;
  line-height: 50px;
  float: left;
  text-align: center;
  cursor: pointer;
}

#header #left:hover {
  background-color: #bbb;
}

#header #left img {
  width: 20px;
  height: auto;
  vertical-align: middle;
}

#header h1 {
  position: absolute;
  left: 44%;
  font-size: 24px;
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

#header #right {
  font-size: 24px;
  width: auto;
  height: 50px;
  line-height: 50px;
  float: right;
}

#content1 {
  float: none;
  clear: both;
  width: 62%;
  height: 1200px;
  margin: 120px auto;
}

#content1 #photo {
  width: 100%;
  height: 100%;
}

#content1 #photo .pt {
  width: 23%;
  height: 400px;
  margin: 0 10px 200px 10px;
  background: url(../img/foods.png) center no-repeat;
  background-size: cover;
  float: left;
}

#content1 #photo #pt1 {
  background-position: 0 0;
}
#content1 #photo #pt2 {
  background-position: -289.7px 0;
}
#content1 #photo #pt3 {
  background-position: -581px 0;
}
#content1 #photo #pt4 {
  background-position: -871.5px 0;
}
#content1 #photo #pt5 {
  background-position: -1164px 0;
}
#content1 #photo #pt6 {
  background-position: -1455px 0;
}
#content1 #photo #pt7 {
  background-position: 0 0;
}
#content1 #photo #pt8 {
  background-position: -1748px 0;
}

#content1 h3 {
  float: none;
  clear: both;
  font-size: 22px;
  padding-bottom: 20px;
  line-height: 30px;
  font-family: "Karma", "sans-serif";
}

#content1 p {
  font-size: 14px;
  line-height: 20px;
  font-family: "Karma", "sans-serif";
}

#content1 #str1 {
  position: absolute;
  top: 530px;
  left: 365px;
  text-align: center;
}
#content1 #str2 {
  position: absolute;
  top: 530px;
  left: 660px;
  text-align: center;
}
#content1 #str3 {
  position: absolute;
  top: 530px;
  left: 960px;
  text-align: center;
}
#content1 #str4 {
  position: absolute;
  top: 530px;
  left: 1230px;
  text-align: center;
}
#content1 #str5 {
  position: absolute;
  top: 1130px;
  left: 380px;
  text-align: center;
}
#content1 #str6 {
  position: absolute;
  top: 1130px;
  left: 658px;
  text-align: center;
}
#content1 #str7 {
  position: absolute;
  top: 1130px;
  left: 943px;
  text-align: center;
}
#content1 #str8 {
  position: absolute;
  top: 1130px;
  left: 1240px;
  text-align: center;
}

#content1 #link {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #eee;
}

#content1 #link li {
  list-style: none;
  line-height: 38px;
  position: relative;
  top:0;
  left: 500px;
}

#content1 #link li a {
  text-decoration: none;
  color: black;
  float: left;
  font-family: "Karma", "sans-serif";
  font-size: 15px;
  width: 38px;
  height: 38px;
  text-align: center;
  
}
#content1 #link li .a1 {
  background-color: black;
  color: white;
}
#content1 #link li .a0:hover{
  background-color: black;
  color: white;
}
#content1 #link li .a2:hover{
  background-color: black;
  color: white;
}
#content1 #link li .a3:hover{
  background-color: black;
  color: white;
}
#content1 #link li .a4:hover{
  background-color: black;
  color: white;
}
#content1 #link li .a5:hover{
  background-color: black;
  color: white;
}

#content2 {
  width: 62%;
  height: 920px;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
}

#content2 h1 {
  font-family: "Karma", "sans-serif";
  font-size: 22px;
  text-align: center;
  padding-top: 50px;
}

#content2 img {
  margin-top: 45px;
  margin-left: 170px;
}

#content2 #blabla {
  width: 100%;
  height: 200px;
  padding-top: 40px;
  text-align: center;
}
#content2 #blabla h2 {
  font-size: 21px;
  font-weight: 500;
  font-family: "Karma", "sans-serif";
}
#content2 #blabla h3 {
  font-size: 16px;
  margin-top: 15px;
  font-family: "Karma", "sans-serif";
}
#content2 #blabla p {
  font-size: 14.5px;
  margin-top: 15px;
  line-height: 22px;
  font-family: "Karma", "sans-serif";
}

#footer {
  width: 62%;
  height: 350px;
  margin: 0 auto;
}

#footer h1 {
  float: left;
  font-family: "Karma", "sans-serif";
  font-size: 24px;
  margin-top: 60px;
}

#footer .h2 {
  margin-left: 320px;
}

#footer .h3 {
  margin-left: 230px;
}

#footer p {
  float: none;
  clear: both;
  font-size: 15px;
  padding-top: 25px;
  line-height: 23px;
}

#footer p a {
  color: black;
}

#footer .img1 {
  position: absolute;
  top: 2470px;
  left: 750px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  width: 360px;
  height: auto;
}

#footer .img2 {
  position: absolute;
  top: 2553px;
  left: 750px;
  cursor: pointer;
}

#footer .img3 {
  position: relative;
  bottom: 110px;
  left: 775px;
}

